---
layout: page
---

<div class="post">
  <div>
    {% if page.title %}
    <p class="post_title">{{ page.title }}</p>
    {% endif %}
  </div>

  <div class="post_data">
    {% if page.date %}
    <span class="post_date">{{ page.date | date: "%b %-d, %Y" }}</span>
    {% endif %}
    {% if page.categories %}
    <span class="post_categories">
      &raquo; {% for cat_name in page.categories %}
      <a href="{{ site.baseurl }}/categories/{{ cat_name }}">{{ cat_name }}</a>{% if forloop.last == false %},
      {% endif %}{% endfor %}
    </span>
    {% endif %}

    <div style="text-align: right;">
        <a href="https://hits.seeyoufarm.com">
        <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}&count_bg=%23FFC0C0&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=HITS&edge_flat=false"/></a>
    </div>

  </div>

  <div class="post_content">
    {{ content }}
  </div>

  {% if page.comment %}
  <div class="post_comment">

    {% include disqus.html username = site.disqus.shortname %}
    {% include cusdis.html %}

  </div>
  {% endif %}

</div>
